<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="/">Home</a>
        <a class="nav-link" href="/livros">Livros</a>
        <!--<a class="nav-link" href="#">Comentarios</a>
        <a class="nav-link" href="#">sobre</a>-->
      </div>
    </div>
  </div>
  {{#if user}}
    <div class="navbar-nav">
      <a class="nav-link" href="/leitor/logout">logout</a>
    </div>
  {{else}}
    <div class="navbar-nav">
      <a class="nav-link" href="/leitor/cadastrar">Cadastar</a>
      <a class="nav-link" href="/leitor/login">Login</a>
    </div>
  {{/if}}
</nav>