.card-body{
    background-color: rgb(245, 245, 245);
    color: rgb(19, 19, 19);
}

#corbanner{
    background-color: rgba(241, 241, 241, 0.493);
    border-radius: 10px;
}

#bannerlivroindex{
    background-image: url("/imagensProjeto/livrobanner.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    height: 520px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
}

.background{
    background-image: linear-gradient(180deg, rgb(102, 102, 102), rgb(255, 255, 255));
}